@use "sass:map";
@import "theme";

html,
body {
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    min-width: 1070px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    //background: map.get($theme-color, "main");
}